Debug
Release
SCvLib/bin
SCvLib/obj
SCvNativeLib/Debug
SCvNativeLib/Release
SCvUi/bin
SCvUi/obj

*.sdf
*.opensdf
*.filters
*.suo
Thumbs.db

*.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
